.registerotp {
  height: 100vh;
}

.registerotp_container {
  display: flex;
  height: 100%;
  background: white;
}

/* LEFT */
.registerotp_container-right {
  width: 50%;
  background: #e9edf2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerotp_container-right .back {
  position: absolute;
  top: 25px;
  left: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #2b579a;
}

.registerotp_container-right img {
  width: 350px;
}

/* RIGHT */
.registerotp_container-left {
  width: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .logo {
    display: none;
  }

  .back {
    display: none;
  }
}

.registerotp_container-left form {
  width: 400px;
  max-width: 90%;
}

.registerotp_header {
  text-align: left;

  img {
    width: 80px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 34px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  strong {
    display: block;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

.registerotp_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.registerotp_form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
}

.registerotp_form input:focus {
  border-color: #2b579a;
}

.btn-dark {
  background: #2b579a;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .registerotp_container {
    flex-direction: column;
  }

  .registerotp_container-right {
    display: none;
  }

  .registerotp_container-left {
    width: 84%;
    padding: 40px;

    .logo {
      display: block;
      width: 80px;

      img {
        width: 100%;
      }
    }

    .back {
      display: block;
      margin-bottom: 10px;
    }
  }
}