.register {
  height: 100vh;
}

.register_container {
  display: flex;
  height: 100%;
}

/* LEFT */
.register_container-left {
  width: 50%;
  background: #e9edf2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register_container-left .back {
  position: absolute;
  top: 25px;
  left: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #2b579a;
}

.register_container-left img {
  width: 350px;
}

/* RIGHT */
.register_container-right {
  width: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.register_container-right form {
  width: 400px;
  max-width: 90%;
}

.register_header {
  h2 {
    font-size: 34px;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }
}

.register_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register_form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
}

.register_form input:focus {
  border-color: #2b579a;
}

.btn-dark {
  background: #2b579a;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.back-login {
  text-align: center;
  text-decoration: none;
  color: #2b579a;
  font-size: 14px;
}

@media (max-width: 992px) {
  .register_container {
    flex-direction: column;
  }

  .register_container-right {
    width: 84%;
  }

  .register_container-left {
    height: 250px;
  }

  .register_container-right {
    padding: 40px;
  }
}