body {
  margin: 0;
}

.registerotp {
  height: 100vh;
  width: 100%;
}

.registerotp_container {
  display: flex;
  height: 100%;
}

/* RIGHT IMAGE */
.registerotp_container-right {
  width: 50%;
  position: relative;
  user-select: none;
}

.registerotp_container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-link {
  position: absolute;
  top: 25px;
  right: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/* LEFT FORM */
.registerotp_container-left {
  width: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerotp_container-left form {
  width: 400px;
  max-width: 90%;
}

.registerotp_header {
  text-align: center;
  margin-bottom: 40px;
}

.registerotp_header img {
  width: 180px;
  margin-bottom: 20px;
}

.registerotp_header h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.registerotp_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.registerotp_form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 16px;
  outline: none;
}

.registerotp_form input:focus {
  border-color: #2b579a;
}
.btn-dark {
  background: #2b579a;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.back-login{
    text-align: center;
    text-decoration: none;
    color: #2b579a;
    font-size: 14px;
}
@media (max-width: 992px) {
  .registerotp_container {
    flex-direction: column;
  }

  .registerotp_container-left,
  .registerotp_container-right {
    width: 84%;
  }

  .registerotp_container-left {
    height: 250px;
  }

  .registerotp_container-right {
    padding: 40px;
  }
}
