.menu,
.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
}

.item-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: pointer;
    color: black;
    .anticon-right{
      font-size: 12px;
    }
    &:hover{
        background: rgb(118, 214, 255);
    }
    .menu-title {
        display: block;
        padding: 10px 16px;
        cursor: pointer;
        white-space: nowrap;
    }
}



.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 220px;
  z-index: 1000;
  margin-left: 5px;

  background: #fff;
  box-shadow: 0 8px 30px rgba(0,0,0,.12);
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all .25s ease;
}

.menu-item:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
