.hero{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #0D0D0D;
    height: 50px;
    overflow: hidden;
    
    img{
        height: 100%;
        width: 100%;
         object-fit: cover; 
      display: block;
        margin: 0;
        padding: 0;
    }
}