.profile {
  display: flex;
  justify-content: center;
  padding: 30px;
  max-height: 80vh;
  gap: 0;
  background: var(--bg);

  &_left {
    max-width: 320px;
    width: 100%;
    border: 1px solid rgba(73, 73, 73, 0.2);
    padding: 20px;  
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: var(--bg-modal);
    color: var(--text);

    .bold{
        font-weight: 700;
        background: var(--bg);
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    div {
      padding: 12px 14px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 15px;
      color: var(--text);
      transition: all 0.25s ease;

      &:hover {
        background: var(--bg);
      }

      &.active {
        background: var(--bg-modal);
        color: var(--text);
        font-weight: 500;
      }
    }
  }

  &_right {
    flex: 1;
    border: 3px solid var(--bg-modal);
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--bg-modal);
    overflow-y: auto;

    img{
        max-width: 100px;
        width: 100%;
    }

    form{
        max-width: 1000px;
        button{
          max-width: 170px;
          text-align: center;
          cursor: pointer;
          background: var(--btn);
          color: var(--text);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;          
          margin-bottom: 10px;
          border-radius: 8px;
          padding: 5px;

          &:hover{
            background: var(--btn-hover);
          }
        }
        input{
            max-width: 400px;
            margin-right: 10px;
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
            box-sizing: border-box;

            border: 1px solid var(--bg);
            outline: none;
            
            &:focus{
                border: 3px solid rgb(0, 128, 255);
            }
        }
    }

     h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }

  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  span{
    max-width: 170px;
    text-align: center;
    cursor: pointer;
    background: black;
    color: white;
    box-shadow: 0 0 0 3px rgb(179, 179, 179);
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;

    &:hover{
      background: rgb(118, 118, 118);
    }
  }
}

