body {
  margin: 0;
}

.login {
  height: 100vh;
  width: 100%;
}

.login_container {
  display: flex;
  height: 100%;
  background: white;

}

.login_container-left {
  width: 50%;
  background: #e9edf2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_container-left .back {
  position: absolute;
  top: 25px;
  left: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #2b579a;
}

.login_container-left img {
  width: 350px;
  max-width: 100%;
}


.login_container-right {
  width: 50%;
  background: #fff;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container-right {
    .logo{
      display: none;
    }
    .back{
      display: none;
    }
  }

.login_container-right form {
  width: 400px;
  max-width: 90%;
}

.login_header{ 
  h2 {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
  }
  p{
    margin: 0;
    padding: 0;    
    margin-bottom: 40px;

  }
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login_form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 16px;
  outline: none;
}

.password-field {
  position: relative;

  input {
    width: 91%;
    padding-right: 40px;
  }

  .toggle-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
  }
}

.login_form input:focus {
  border-color: #2b579a;
}

.btn-dark {
  margin-top: 10px;
  background: #2b579a;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;

  &:hover{
    background: #010dbc;
  }
  &:focus{
    background: #02096d;
  }
}

.forgot-link {
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  color: #2b579a;
}

.google_login {
  margin-top: 30px;
  width: 410px;
  max-width: 90%;
}

.overlay {
  margin-top: 25px;
  font-size: 14px;
  position: relative;

  .register-link {
    margin-left: 5px;
    color: #2b579a;
    text-decoration: none;
  }
}



@media (max-width: 992px) {
  .login_container {
    flex-direction: column;
  }

  .login_container-right {
    width: 84%;
    .logo{
      display: block;
      width: 80px;
      img{
        width: 100%;
      }
    }
    .back{
      margin-bottom: 10px;
      display: block;
    }
  }

  .login_container-left {
    display: none;
}
  

  .login_container-right {
    padding: 40px;
  }
}