.header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 4px 25px;
    background: var(--bg);
    color: var(--text);
    justify-content: space-around;  
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    z-index: 1000;

    &_logo{
        max-width: 80px;
        img{
            max-width: 80px;
            width: 100%;
        }
    }

    &_page{
        flex: 1;
        display: flex;
        gap: 15px;
        width: 100%;
        justify-content: center;
        a{
            font-size: 17px;
            font-weight: 600;
            color: var(--text);
            text-decoration: none;
        }
    }

    &_function{
        display: flex;
        gap: 10px;
        align-items: center;
        svg{
            font-size: 22px;
        }

        a{
            color: var(--text);
        }

        &-login{
            text-decoration: none;
            color: var(--btn-text);
            background: var(--bg-modal);
            padding: 8px;
        }
    }



   
} 
@media (max-width: 800px) {

}