:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --bg: #0d0d0d;
  --bg-modal: #343434;
  --btn: #0d0d0d;
  --btn-hover: #343434;
  --text: #ffffff;
  --text-inmodal: #ffffff;
  --btn-text: #ffffff;
}

body.light {
  --bg: #f5f6f8;       
  --bg-modal: #888889; 
  --text-inmodal: white;
  --btn: #0d0d0d;    
  --btn-hover: #343434;
  --text: #0d0d0d;     
  --btn-text: white;
}



body {
  background: var(--bg);
  color: var(--text);
}
