.resetPassword {
  height: 100vh;
}

.resetPassword_container {
  display: flex;
  height: 100%;
}

.resetPassword_container-left {
  width: 50%;
  background: #e9edf2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-field {
  position: relative;

  input {
    width: 100%;
    padding-right: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 16px;
    outline: none;

    &:focus {
      border-color: #2b579a}
    }

  .toggle-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
  }
}

.resetPassword_container-left .back {
  position: absolute;
  top: 25px;
  left: 30px;
  text-decoration: none;
  color: #2b579a;
}

.resetPassword_container-left img {
  width: 350px;
}

.resetPassword_container-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  user-select: none;
}

.resetPassword_container-right form {
  width: 400px;
}

.resetPassword_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.resetPassword_form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.btn-dark {
  background: #2b579a;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.back-login{
    text-align: center;
    text-decoration: none;
    color: #2b579a;
    font-size: 14px;
}
@media (max-width: 992px) {
  .resetPassword_container {
    flex-direction: column;
  }

  .resetPassword_container-left,
  .resetPassword_container-right {
    width: 100%;
  }

  .resetPassword_container-left {
    height: 250px;
  }

  .resetPassword_container-right {
    padding: 40px;
  }
}