.forgotOtp {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    color: var(--text);

    &_container{
        width: 750px;
        background: var(--bg-modal); 
        border-radius: 10px;
        box-shadow: 0 10px 30px var(--bg-modal);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &-left{
            flex: 1;
            display: flex;
            justify-content: center;   
            align-items: center; 
            text-align: center;     
            animation: slideFade 0.4s ease forwards;
            @keyframes slideFade {
                from {
                    opacity: 0;
                    transform: translateX(-200px);
                }
                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            &-top{
                max-width: 100%;
                margin-top: -50px;
                img{
                    max-width: 100px;
                    width: 100%;
                }
            }
            &-bot{
                input{
                    width: 90%;
                    height: 35px;
                    margin-bottom: 10px;
                    padding-left: 5px;
                    border-radius: 8px;
                    border: none;
                    box-sizing: border-box;

                    &:focus{
                        border: 3px solid rgb(255, 52, 52);
                        outline: none;            
                    }
                }
                button{
                    width: 92%;
                    height: 35px;
                    border-radius: 8px;
                    cursor: pointer;
                    color: var(--btn-text);
                    background: var(--btn);
                    &:hover{
                        background: var(--btn-hover);
                        box-shadow: var(--btn-hover);
                    }
                }

                a{
                    color: var(--text);
                }
            }
        }

         &-right{
            max-width: 350px;
            max-height: 515px;
                position: relative;   

            img{
                max-width: 350px;
                max-height: 515px;
                width: 100%;
                 object-fit: cover;
                display: block;
            }
            .register-link{
            position: absolute;
            top: 20px;       
            right: 20px;
            z-index: 2;       

            background: var(--btn);
            color: var(--bn-text);
            padding: 8px 16px;
            border-radius: 20px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;

            &:hover{
                background: var(--btn-hover);
            }

            animation: slideFade 0.4s ease forwards;
            @keyframes slideFade {
                from {
                    opacity: 0;
                    transform: translateX(-200px);
                }
                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

         }
        }
    }
}

